*{
  margin: 0;
  height: 0;

}

@font-face {
  font-family: 'QuiteChocolatey';
  src:url('fonts/QuiteChocolatey.ttf');

}


.header{
  height: 690px;
  width: 100%;
  background-color: #E42614;
  position: relative;
}

.contentsgran{
  width: 1200px;
  height: 690px;
  position: absolute;
  left: calc(720px / 2);
  background-image: url('img/sopacity.png');
}

.contentbezgran{
  position: absolute;
  left: 85px;
  width: calc(1200px - 170px);
  height: 100%;
}

nav{
  display: flex;
  justify-content: flex-end;
  margin-top: 72px;
  height: auto;
}

a{
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat;
  color: #FFFFDC;
  display: block;
  font-weight: lighter;
  margin: -12px 0px;
}

.hovermenu{
  height: auto;
  padding:10px 16px;
}

h1{
  font-family: QuiteChocolatey;
  font-size: 88px;
  color: #FFFFDC;
  display: block;
  float: left;
  margin-top: 40px;
  font-weight: lighter;
}

.hovermenu:hover{
  background-color: #15121F;
  border-radius: 8px;
}

p{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 90px;
}
p.first{
  color: #15121F;
  display: block;
  width: auto;
  height: auto;

}
p.second{
  margin-top: -25px;
  color: #FFFFDC;
  display: block;
  height: auto;
  width: auto;


}

.sell{
  position: absolute;
  margin-left: 20px;
  margin-top: 190px;
  display: inline-block;
  height: auto;
  width: auto;
}

.quote{
  position: relative;
  width: 370px;
  height: 457px;
  float: right;
  margin-top: 185px;
  border-radius: 8px;
  padding: 33px 15px 30px 15px;
  background-color: #FFFFDC;
}


h2{
  display: block;
  position: absolute;
  text-align: center;
  width: calc(100% - 30px);
  height: 40px;
  font-family: Montserrat;
  margin-bottom: 20px;
}
.inputi{
  position: absolute;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-left: 7px;
}
.inputi:first-child{
  margin-top: 0;
}

.in{
  display: flex;
  height: 52px;
  width: 353px;
  border-radius: 8px;
  border: none;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: #F2EDCB;
  left: 40px;
  font-family: 'PT Serif';
  font-size: 20px;
  color: #B2AE95;
}

label{
  font-size: 20px;
  font-family: 'PT Serif';
}
button{
  margin-left: 5px;
  border-radius: 8px;
  height: 52px;
  width: 353px;
  border: none;
  background-color: #CA2615;
  color: #F2EDCB;
  font-family: Montserrat;
  font-size: 22px;

}

.final{
  position: absolute;
  top: 404px;
}
span{

}
